
@{
    ViewBag.Title = "Hello";
}

<h2>Hello</h2>

<fieldset>
    <legend>透過ViewData 、 ViewBag來達到簡單的資料傳遞</legend>
    <p>
        @ViewData["Hello"]
    </p>

    <p>
        @ViewBag.MVC
    </p>   
    

</fieldset>